.content-card{
    background-color:blanchedalmond;
    width: 500px;
    height: 100%;
    margin-left: 35%;
    margin-top: 2%;
    border-radius: 3%;
}
.top{
    display: flex;
    justify-content: start;
}
h1{
    font-size: 1000%;
    text-align: center;
}
.bottom{
    display: flex;
    justify-content: end;
}